<h2 class="timeline_title"><%= @timeline.title %></h2>
<h5>  <%= @timeline.begin_date %> through
  <%= @timeline.end_date %> </h5>
<p>
  <%= link_to "edit", "/timelines/#{@timeline.id}/edit" %>
</p>
<h4> <%= @milestone_title %> <%= @milestone_name %> </h4>

<p class="timeline_description">
  <ul>
  <li><%= @milestone[0].year_name %></li>
  <li><%= @milestone[1].year_name %></li>
  <li><%= @milestone[2].year_name %></li>
  <li><%= @milestone[3].year_name %></li>
  <li><%= @milestone[4].year_name %></li>
  <li><%= @milestone[5].year_name %></li>
  <li><%= @milestone[6].year_name %></li>
  <li><%= @milestone[7].year_name %></li>
  <li><%= @milestone[8].year_name %></li>
  <li><%= @milestone[9].year_name %></li>

  </ul>
</p>

<h4> <%= @milestone_title %> <%= @year2_name %> </h4>

<p class="timeline_description">
  <ul>
   <li><%= @year_2_event_1 %></li>
  <li><%= @year_2_event_2 %></li>
  <li><%= @year_2_event_3 %></li>
  <li><%= @year_2_event_4 %></li>
  <li><%= @year_2_event_5 %></li>
  </ul>
</p>





</ul>
