<h2 class="timeline_title"><%= @timeline.title %></h2>
<h5>  <%= @timeline.begin_date %> through
  <%= @timeline.end_date %> </h5>
<p>
  <%= link_to "edit", "/timelines/#{@timeline.id}/edit" %>
</p>
<h4> <%= @milestone_title %> <%= @milestone_name %> </h4>

<p class="timeline_description">
  <ul>
  <li><%= @event_1 %></li>
  <li><%= @event_2 %></li>
  <li><%= @event_3 %></li>
  <li><%= @event_4 %></li>
  <li><%= @event_5 %></li>
  </ul>
</p>





</ul>
